@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-[#e5e5e5] text-[#111111] cursor-none;
    font-family: 'Outfit', sans-serif;
  }

  .font-mono {
    font-family: 'Share Tech Mono', monospace;
  }
}

a,
button,
input,
textarea,
select {
  cursor: none !important;
}

:root {
  color-scheme: light;
}

@theme {
  --color-dark: #050505;
  --color-accent-blue: #2563eb;
  --color-accent-red: #dc2626;
  --color-accent-neon: #39ff14;
}