@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-[#050505] text-white cursor-none;
    font-family: 'Outfit', sans-serif;
  }

  .font-mono {
    font-family: 'Share Tech Mono', monospace;
  }
}

a,
button,
input,
textarea,
select {
  cursor: none !important;
}

:root {
  color-scheme: dark;
}

@theme {
  --color-dark: #050505;
  --color-accent-cyan: #00f3ff;
  --color-accent-purple: #bc13fe;
  --color-accent-neon: #39ff14;
}